
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin_share.cshtml";
}



<div id="page-wrapper" style="margin-left :10%">

        <center>
            <img src="~/images/logo.jpg" width="500" height="150" />
            <br />
            <br />
            <img src="~/images/d1.jpg" width="1000" height="500" />
        </center>
</div>



  
