@using PROJECT.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/category_share.cshtml";
}

<script>
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
   
</script>


                <h1 style="font-family: 'Segoe UI'; color: #713a05; ">Design Your Living</h1>


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <a class="fancybox" href="~/images/h1.jpg" data-fancybox-group="gallery" title=""><img src="~/images/h1.jpg" alt="" /></a>

                        
                       
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <a class="fancybox" href="~/images/h2.jpg" data-fancybox-group="gallery" title=""><img src="~/images/h2.jpg" alt="" /></a>
                        
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        
                        <a class="fancybox" href="~/images/h3.jpg" data-fancybox-group="gallery" title=""><img src="~/images/h3.jpg" alt="" /></a>
                        


                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                 
                        <a class="fancybox" href="~/images/h4.jpg" data-fancybox-group="gallery" title=""><img src="~/images/h4.jpg" alt="" /></a>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        
                        <a class="fancybox" href="~/images/b1.jpg" data-fancybox-group="gallery" title=""><img src="~/images/b1.jpg" alt="" /></a>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        
                        <a class="fancybox" href="~/images/b4.jpg" data-fancybox-group="gallery" title=""><img src="~/images/b4.jpg" alt="" /></a>
                    </div>
                </div>



